/*-----------------------------
PATRON DE COLORES
------------------------------*/
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
/*-----------------------------
------------------------------*/

html{
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #2D1E56;
}

.bienvenidos {
  background: url("../images/Home_page/mobil1.png") no-repeat center top;
  // background-size: 865px 548px;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}

.fixed-top {
    position: absolute;
}

.encabezado{
  padding: 1.5rem 0 0 0;
  background-color: transparent !important;
}

/*-----------------------------
LOGO PRINCIPAL, FORMATOS ADAPTABLES
------------------------------*/

.encabezado .logo img{
  width: 80px;
  height: auto;
}

.encabezado .logo2 img{
  width: 250px;
  height: auto;
}

/*-----------------------------
BOTONES MENU Y BUSCAR
------------------------------*/

.boton-buscar,
.boton-menu{
  color: white;
  border: 0;
  font-size: 1.5rem;
}

.boton-buscar:hover,
.boton-menu:hover{
  color: #aeacac;
  border: 0;
  font-size: 1.5rem;
}

.boton-buscar:active,
.boton-menu:active{
  color: red;
}

.boton-buscar:focus,
.boton-menu:focus{
  color: #a9008d;
  border: 0;
  font-size: 1.5rem;
}


.boton-buscar{
  margin-left: auto;
}
.boton-menu{

}

/*-----------------------------
BLOQUE BUSCAR
------------------------------*/

#bloque-buscar{
  flex: 1 1 auto;
  margin-top: 0.9rem;
}

.contenedor-bloque-buscar{
  display: flex;
}

#bloque-buscar input[type="text"]{
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
  flex: 3 1 auto;
}

#bloque-buscar input[type="submit"]{
  border:0;
  background-image: linear-gradient(120deg, #67D690 0%, #00A99D 100%);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0 5px 5px 0;
  flex: 1 1 auto;
}

#bloque-buscar input[type="submit"]:hover{
  background-image: linear-gradient(120deg, #649a78 0%, #049187 100%);
  cursor: pointer;
}

#bloque-buscar input[type="submit"]:focus{
  outline:0;
}


/*-----------------------------
MENU PRINCIPAL
------------------------------*/

#menu-principal{
  flex: 1 1 100%;
  background-image: linear-gradient(to left, #3c1b54 0%, #5c146f 100%);
    margin-top: 1.3rem;
    border-radius: 5px;
        border-bottom: 4px solid #7f077d;
}

#menu-principal ul{
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

#menu-principal li{
  list-style: none;
  text-decoration: none;
  padding: 0.6rem;
}

#menu-principal li a{
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background: darkmagenta;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(156, 58, 136, 0.23);
}

#menu-principal ul li .btn:active{
  background: #6d0976;
}

#menu-principal ul li .dropdown-menu a{
  background: transparent;
  margin-top: 0.7rem;
  text-align: center;
  color: #f8f9fa;
}

#menu-principal .dropdown-menu.show {
    display: contents;
}

#menu-principal ul li .dropdown-menu a:hover {
  color: darkmagenta;
}

// #menu-principal .dropdown.show{
//   transition: all 5s ease;
// }


/*-----------------------------
TEXTO DEL ENCABEZADO
------------------------------*/

.texto-encabezado {
  flex: 1 1 auto;
  display: flex;
  color: white;
  align-items: center;
}

.texto-encabezado .display-4 {
    margin-top: 5rem;
    font-size: 3rem;
}

.texto-encabezado p {
  margin: 1rem 0 1.2rem 0;
}


/*-----------------------------
BOTON VER MAS...
------------------------------*/

.btn-success{
  background-image: linear-gradient(120deg, #67D690 0%, #00A99D 100%);
}

.btn-success:hover{
  background-image: linear-gradient(120deg, #649a78 0%, #049187 100%);
  border-color: #71de8a;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #00A99D;
    border-color: #1c7430;
}


/*-----------------------------
FLECHA BAJAR ANIMADA
------------------------------*/

.flecha-bajar a{
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada{
  from{
    transform: translateY(0); // que empiece en 0
  }
  50%{
    transform: translateY(6px); // que baje 6px cuando este en el 50% de su recorrido
  }
  to{
    transform: translateY(0); // quiero que al final vuelva al comienzo
  }
}

/*-----------------------------
SECCION DE PORQUE ELEGIRNOS
------------------------------*/

.eligenos h3 {
  color: white;
  padding-top: 5rem;
  text-align: left;
}

.eligenos p {
  color: white;
  margin-top: 2rem;
  text-align: justify;
}

/*-----------------------------
SECCION SERVICIOS
------------------------------*/

.servicios{
  background: url("../images/Home_page/segundaparte-mobil4.png") no-repeat center top;
  // background-size: cover;
  // height: 100vh;
  color: white;
  padding: 2rem;
}

.servicios h3{
  color: white;
  margin-top: 2rem;
  font-weight: bold;
}

.servicios h1{
  color: white;
  margin: 2rem 0 2rem 0;
  // font-weight: bold;
}

.servicios p {
  text-align: justify;
  margin-top: 2rem;
  padding: 0 1rem;
  color: white;
}

.servicios img {
  width: 200px;
}

.servicios h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-weight: bold;
}


.img-service{
  background-color: white;
}

.img-service img {  // aca las images de cada servicio que yo ofrezco
  width: 18rem;
}

.img-service p {
  color:black;
}

.img-service h5 {
  padding-top: 9rem;
  font-weight: bold;
}

.img-service h2 {
  margin: 2rem 0 1rem 0;
  font-weight: bold;
}


/*-----------------------------
FOOTER
------------------------------*/

footer {
  background-color: #17113C;
  background-size: cover;
  padding: 2rem 0;
}

footer .h4{
  color: white;
  margin-top: 0;
  margin-bottom: 0;

}

footer p{
  color: white;
  margin-top: 0;
  margin-bottom: 0;

}


footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

footer li{
  text-decoration: none;
  margin-right: 10px;
}

footer li a{
  color: white;
  font-size: 2rem;
}

.ir-arriba {
  position: fixed;
  bottom: 1.3rem;
  right: 1.5rem;
  color: #13b29b;
  font-size: 2rem;
  z-index: 99999;
  text-decoration: none;
  line-height: 0;
  display: none;
  // transition: all 3s ease; no me funciona este fx todavia, lo hice en el propio jquery sitio.js
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #009688;
}


/*-----------------------------
MEDIA QUERY PARA 768px
------------------------------*/

@media (min-width:768px){

  html{
    font-size: 16px;
  }

  body {
      background: #2D1E56;
  }

  .bienvenidos {
    background: url("../images/Home_page/otraopcion-min.png") no-repeat center top;
    // background-size: 865px 548px;
    background-size: cover;
    height: 100vh;
    width: auto;
  }

  .boton-buscar{
    order:2;
    margin-left: 1rem;
  }

  #menu-principal {
    display: block;
    order:1;
    flex: 0 1 auto;
    margin-left: auto;
    margin-top: 0;
    background: transparent;
    border-bottom: 0px;
}

  #menu-principal ul {
    display: flex;
    margin: 0;
}

#menu-principal ul li {
    display: flex;
    align-items: center;
    border-top: 0px;
    padding: 0.3rem;
    // margin: 0.2rem;
}

  #menu-principal ul li a {
    text-transform: capitalize;
    background: transparent;
}

#menu-principal ul li a:hover {
    background: darkmagenta;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(156, 58, 136, 0.23);
}

#menu-principal ul li .btn:active{
  background: #6d0976;
}

#menu-principal ul li .dropdown-menu a{
  background: transparent;
  margin-top: 0.7rem;
  text-align: left;
  color: black;
}

#menu-principal .dropdown-menu.show {
    display: block;
}




.btn-outline-light {
    border-color: transparent;
}

.btn-outline-light:hover {
    border-color: transparent;
    background-color: #4b28c4;
}


.encabezado .container {
  position: relative;
}


#bloque-buscar{
  flex: 1 1 100%;
  order: 3;
  position: absolute;
  width: 20rem;
  right: .9rem;
  top: 4.2rem;
  margin-top: 0.2rem;
}

.texto-encabezado {
  color: white;
}


.edificio{
  margin-top: 7rem;
}

.edificio img {
  width: 100%;
  height: auto;
}


/*-----------------------------
PORQUE ELEGIRNOS
------------------------------*/

.eligenos{
  background: url("../images/Home_page/elegirnos-min.png") no-repeat center right;
  background-size: cover;
  height: 100vh;
}

.eligenos p {
  margin-top: 1rem;
}


/*-----------------------------
SERVICIOS
------------------------------*/

.servicios{
  background: url("../images/Home_page/fondo-servicios.png") no-repeat center top;
  background-size: cover;
  height: 100vh;
}

.botonera-servicios {
  display: flex;
  justify-content: space-around;
}

.img-service img {  // aca las images de cada servicio que yo ofrezco
  width: 16rem;
}

}


/*-----------------------------
MEDIA QUERY PARA 992px
------------------------------*/


@media (min-width:992px){

  .texto-encabezado .display-4 {
      margin-top: 8rem;
  }

  // .texto-encabezado p {
  //   margin: 1rem 0 2rem 0;
  // }

  .edificio {
    margin-top: 4rem;
}

.eligenos h2{
  padding-top: 5rem;
}

.eligenos p {
  margin-top: 2rem;
}

.eligenos .col-md-4 {
    background: transparent;
}

}


/*-----------------------------
MEDIA QUERY PARA 1200px
------------------------------*/


@media (min-width:1200px){

  .bienvenidos {
    background: url("../images/Home_page/otraopcion-grande-min.png") no-repeat center top;
    // background-size: 865px 548px;
    background-size: cover;
    // height: 100vh;
  }

  .texto-encabezado .display-4 {
      margin-top: 9.6rem;
  }

  .edificio img {
    width: 100%;
    height: auto;
  }

  .eligenos{
    background: url("../images/Home_page/elegirnos-grande-min.png") no-repeat center right;
    background-size: cover;
    height: 100vh;
  }

  .eligenos h2{
    padding-top: 9.3rem;
  }

  .eligenos p {
    margin-top: 2rem;
  }


}
